.size-block {
    width: 265px;
    height: 125px;
    border: 4px #e7e7e7 solid;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
}

.left-block,
.center-block {
    margin-right: 1.250em;
}

.information-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 37px;
    width: 100%;
}

.icon-check img {
    padding-left: 14px;
}

.text {
    padding-right: 29px;
}

.proposition-form {
    margin-top: 60px;
}

.trust-us {
    margin-top: 60px;
}

.contact {
    margin-top: 88px;
}


/* Media Query */

@media screen and (max-width: 859px) {
    .right-block {
        margin-top: 1.250em;
    }
}

@media screen and (max-width: 666px) {
    .left-block,
    .center-block,
    .right-block {
        width: 100%;
        margin: 0px;
    }
    .contact-text {
        padding: 0px;
    }
    .contact-text h1 {
        line-height: 1.2em;
    }
}

@media screen and (max-width: 1159px)and (min-width: 992px) {
    .right-block {
        margin-top: 1.250em;
    }
}