.size-block {
    width: 265px;
    height: 125px;
    border: 4px #e7e7e7 solid;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
}

.information-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 37px;
    width: 100%;
}

.icon-check img {
    padding-left: 14px;
}

.text {
    padding-right: 29px;
}

.proposition-form {
    margin-top: 60px;
}

.trust-us {
    margin-top: 60px;
}

.contact {
    margin-top: 88px;
}


/* Media Query */

@media screen and (max-width: 1128px) {}