.ico-wrapper {
    padding-bottom: 88px;
}


/* .production-header {
    background: url(../images/production-slider.png) no-repeat;
    background-size: cover;
    padding: 75px 0 60px;
    text-align: center;
}

.production-header img {
    display: block;
    max-width: 100%;
    margin: 0 auto 15px;
} */