    #size-block1,
    #size-block2 {
        width: 417px;
        height: 154px;
        margin-right: 20px;
    }
    
    #size-block1 {}
    
    .portret {
        padding-left: 30px;
    }
    
    .text-vacansies {
        position: relative;
        width: 100%;
    }
    
    .money {
        width: 98px;
        height: 29px;
        background-color: #fecf00;
        padding: 5px 12px 9px 12px;
        position: absolute;
        top: 1.250em;
        right: -0.250em;
        display: block;
    }
    
    .want-u {
        margin: 0 auto;
        width: 300px;
        height: 66px;
        margin-top: 30px;
    }
    
    .want-btn {
        width: 300px;
        height: 66px;
    }
    
    @media screen and (max-width: 666px) {
        #size-block1,
        #size-block2 {
            width: 100%;
            margin: 0;
        }
        .contact-text {
            padding: 0px;
        }
    }
    
    @media screen and (max-width: 903px) {
        #size-block2 {
            margin-top: 0.938em;
        }
    }
    
    @media screen and (max-width: 1203px) and (min-width: 990px) {
        #size-block2 {
            margin-top: 0.938em;
        }
    }